body {
  margin: auto;
  align-content: center;
  background-color: black;
  color: white;
  text-align: center;
  border: 20px solid blue;
  border-top: 0;
  padding-bottom: 70px;
}

#heart {
  width: 60px;
  height: 60px;
  float: right;
}

.rightcol {
  float: right;
  width: 300px;
  height: 60px;
  background-color: white;
}

.leftcol {
  float: left;
  width: 300px;
  height: 60px;
  background-color: black;
}

h1 {
  font-family: 'Chelsea Market', cursive;
}

p {
  font-family: 'Spectral SC', serif;
}
