#menu>li{
  list-style-type: none;
  float: left;
  position: relative;
}

#menu>li>a{
  display: block;
  padding: 8px;
  background-color: #999999;
  color: black;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-decoration: none;
  width: 100px
}

#menu>li>a:hover{
  background-color: #bcbcbc;
}

#menu>li>ul{
  display: none;
  position: absolute;
}

#menu>li:hover ul{
  display: block;
  list-style-type: none;
  padding-left: 0;
  background-color: #636363;
  color: white;
  width: 150px;

}

#menu>li>ul>li>a{
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
}

#menu>li>ul>li>a:hover{
  display: block;
  background-color: #bcbcbc;
  color: black;
}
